In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
musk_tweets = pd.read_csv("elonmusk.csv")
tesla_stock = pd.read_csv("TSLA.csv")
musk_tweets = musk_tweets.rename(str.lower, axis=1)
tesla_stock = tesla_stock.rename(str.lower, axis=1)
musk_tweets = musk_tweets.loc[:, ['date', 'tweet']]
print(musk_tweets.head())
print("********************************\n")
print(tesla_stock.head())
print(f"The shape of tesla_stock df is: {tesla_stock.shape}")
print(f"The shape of musk_tweets df is: {musk_tweets.shape}")

         date                                              tweet
0  2020-07-14                                               Cute
1  2020-07-14                                                Wow
2  2020-07-13  Reusability is essential. A rocket that is sin...
3  2020-07-13                                        Wild times!
4  2020-07-13  Weâ€™re being extra paranoid. Maximizing probabi...
********************************

         date       open   high        low      close  adj close    volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900
The shape of tesla_stock df is: (2416, 7)
The shape of musk_tweets df is: (9286, 2)

In [4]:
tesla = pd.merge(musk_tweets, tesla_stock, on = "date", how = "inner")
tesla.head()

,date,tweet,open,high,low,close,adj close,volume
0,2020-02-03,Definitely!,673.690002,786.140015,673.52002,780.0,780.0,47065000
1,2020-02-03,Yes,673.690002,786.140015,673.52002,780.0,780.0,47065000
2,2020-02-03,ðŸ”¥ðŸ”¥ðŸ”¥,673.690002,786.140015,673.52002,780.0,780.0,47065000
3,2020-02-03,"First, we need to make it super safe & easy to...",673.690002,786.140015,673.52002,780.0,780.0,47065000
4,2020-02-03,"Ok sure ðŸ˜€ Btw, we recruit great engineers from...",673.690002,786.140015,673.52002,780.0,780.0,47065000