In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [49]:
musk_tweets = pd.read_csv("elonmusk.csv")
tesla_stock = pd.read_csv("TSLA.csv")
musk_tweets = musk_tweets.rename(str.lower, axis=1)
tesla_stock = tesla_stock.rename(str.lower, axis=1)
musk_tweets = musk_tweets.loc[:, ['date', 'tweet']]
print(musk_tweets.head())
print("********************************\n")
print(tesla_stock.head())
print(f"The shape of tesla_stock df is: {tesla_stock.shape}")
print(f"The shape of musk_tweets df is: {musk_tweets.shape}")

         date                                              tweet
0  2020-07-14                                               Cute
1  2020-07-14                                                Wow
2  2020-07-13  Reusability is essential. A rocket that is sin...
3  2020-07-13                                        Wild times!
4  2020-07-13  Weâ€™re being extra paranoid. Maximizing probabi...
********************************

         date       open   high        low      close  adj close    volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900
The shape of tesla_stock df is: (2416, 7)
The shape of musk_tweets df is: (9286, 2)

In [45]:
tesla = pd.merge(musk_tweets, tesla_stock, on = "date", how = "inner")
tesla

,date,tweet,open,high,low,close,adj close,volume
0,2020-02-03,Definitely!,673.690002,786.140015,673.520020,780.000000,780.000000,47065000
1,2020-02-03,Yes,673.690002,786.140015,673.520020,780.000000,780.000000,47065000
2,2020-02-03,ðŸ”¥ðŸ”¥ðŸ”¥,673.690002,786.140015,673.520020,780.000000,780.000000,47065000
3,2020-02-03,"First, we need to make it super safe & easy to...",673.690002,786.140015,673.520020,780.000000,780.000000,47065000
4,2020-02-03,"Ok sure ðŸ˜€ Btw, we recruit great engineers from...",673.690002,786.140015,673.520020,780.000000,780.000000,47065000
...,...,...,...,...,...,...,...,...
5150,2015-02-11,Dragon splashdown off the California coast pic...,212.210007,214.740005,207.279999,212.800003,212.800003,9769100
5151,2015-02-10,Launch postponed to tomorrow due to high winds...,217.550003,220.500000,215.000000,216.289993,216.289993,5390500
5152,2015-02-10,Extreme wind shear over Cape Canaveral. Feels ...,217.550003,220.500000,215.000000,216.289993,216.289993,5390500
5153,2015-02-10,"""What Are The Civilian Applications?"" https://...",217.550003,220.500000,215.000000,216.289993,216.289993,5390500
5154,2015-01-30,"If you are curious about the P85D, you can sch...",203.960007,207.470001,203.000000,203.600006,203.600006,3007000

In [ ]:
tesla['tweet'] = tesla.agg(lambda x: )